body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 3fr;
  grid-template-areas:"header header"
                      "sidebar nav"
                      "sidebar artical"
                      "footer  footer";
  gap: 15px;  
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
<<<<<<< HEAD:grid/02-grid-layout-2/style.css
  background-color: #FFDE22;
  grid-area: header;
}

.sidebar {
  background-color: #FF7755;
  grid-area: sidebar;
}

.nav {
  background-color: #00DDFF;
  grid-area: nav;
}

.article {
  background-color: #bccbde;
  grid-area: artical;
=======
  background-color: #006157;
  grid-column: 1 / 3;
}

.sidebar {
  background-color: #005B94;
  grid-row: 2 / 4;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
>>>>>>> 77df57bf712f11f55ae3c272bb1c81cf85e71943:intermediate-html-css/advanced-grid/01-responsive-holy-grail/style.css
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
<<<<<<< HEAD:grid/02-grid-layout-2/style.css
  grid-area: footer;
}
=======
  grid-column: 1 / 3;
}
>>>>>>> 77df57bf712f11f55ae3c272bb1c81cf85e71943:intermediate-html-css/advanced-grid/01-responsive-holy-grail/style.css
